<div class="welcome text-center padded">
  <h1>Our team</h1>

<ul class="list-inline text-center">
  <% ["boris", "seb", "romain"].each do |member| %>
    <li>
      <%= image_tag "#{member}.jpeg", class: "img-circle, width: 100px" %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>

<i class="fa fa-envelope"></i>
<%= link_to "contact@airbnb.com", "mailto: contact@airbnb.com" %>
</div>
